<%= include layouts/header.ejs %>
<form method="post" action="/customers/edit/<%= data[0].id %>">
    <div class="form-group">
        <label for="name">Имя</label>
        <input class="form-control" id="exampleInputEmail1" placeholder="Имя" type="text" name="name" value="<%= data[0].name %>" required>
    </div>
    <div class="form-group">
        <label for="name">Адрес</label>
        <textarea class="form-control" rows="3" name="address" required cols="<%= data[0].address %>"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">e-mail</label>
        <input class="form-control" id="exampleInputEmail1" placeholder="e-mail" type="text" name="email" value="<%= data[0].email %>" required>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Телефон</label>
        <input class="form-control" id="exampleInputEmail1" placeholder="телефон" type="text" name="phone" value="<%= data[0].phone %>" required>
    </div>
    <button type="submit" class="btn btn-default" name="submit" value="Save" >Изменить</button>
    <button type="submit" class="btn btn-default" name="cancel" value="Cancel" onclick="window.location.href = '/customers';">Отменить</button>
</form>
<%= include layouts/footer.ejs%>